version = 0.1

extensions = ['chomp@0.1:swc', 'chomp@0.1:rollup']

default-task = 'build'

[[task]]
target = 'docs'
deps = ['src/**/*.ts']
run = 'typedoc src/generator.ts'

[[task]]
name = 'build'
target = 'dist'
deps = ['lib', 'npm:install']
template = 'rollup'
[task.template-options]
input = [
    'lib/generator-deno.js',
    'lib/generator.js',
    'lib/common/fetch-vscode.js',
    'lib/common/fetch-deno.js',
    'lib/common/fetch-node.js',
    'lib/common/fetch-native.js'
]
onwarn = false
clear-dir = true
[task.template-options.output]
dir = 'dist'

[[task]]
target = 'lib'
deps = ['lib/**/*.js']

[[task]]
target = 'lib/version.js'
dep = 'package.json'
engine = 'node'
run = '''
    import { readFileSync, writeFileSync } from 'fs';
    const { version } = JSON.parse(readFileSync('package.json', 'utf8'));
    writeFileSync('lib/version.js', `export default ${JSON.stringify(version)}`);
'''

[[task]]
name = 'build:ts'
target = 'lib/##.js'
deps = ['src/##.ts']
template = 'swc'
[task.template-options.config]
inlineSourcesContent = false
'jsc.target' = 'es2019'

[[task]]
name = 'test:unit'
dep = 'unit:'

[[task]]
name = 'test'
serial = true
deps = [
    'test:unit',
    'test:browser',
]

[[task]]
name = 'unit:#'
deps = ['test/##.test.js', 'lib']
display = 'dot'
run = 'node -C source --enable-source-maps $DEP'

[[task]]
name = 'test:browser'
deps = ['build:ts', 'dist/*', 'test/test.html']
run = 'node test/server.mjs'

[[task]]
name = 'test:browser:watch'
env = { WATCH_MODE = '1' }
run = 'node test/server.mjs'

[[task]]
name = 'cache-clear'
run = 'jspm clear-cache'

[[task]]
target = 'importmap.json'
run = '''
    jspm link @jspm/generator
    jspm install node:assert
'''

[[task]]
target = 'test/test.html'
deps = ['src/**/*.ts', 'dist/generator.js', 'importmap.json']
run = 'jspm inject $TARGET --env=production'
