name: CI

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  test-browser:
    name: Firefox Browser Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        firefox: ['89.0']
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Setup Chomp
        uses: guybedford/chomp-action@v1
      - name: Setup Firefox ${{ matrix.firefox }}
        uses: browser-actions/setup-firefox@latest
        with:
          firefox-version: ${{ matrix.firefox }}
      - run: npm install
      - run: chomp test:browser
        env:
          CI_BROWSER: /opt/hostedtoolcache/firefox/${{ matrix.firefox }}/x64/firefox
          CI_BROWSER_FLAGS: -headless

  test-servers:
    name: Node.js & Deno Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [14.x, 16.x]
        deno: ['1']
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Use Node.js ${{ matrix.node }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}
    - uses: denoland/setup-deno@v1
      with:
        deno-version: ${{ matrix.deno }}
    - name: Setup Chomp
      uses: guybedford/chomp-action@v1
    - name: Install IPFS
      run: |
        wget https://dist.ipfs.io/go-ipfs/v0.10.0/go-ipfs_v0.10.0_linux-amd64.tar.gz
        tar -xvzf go-ipfs_v0.10.0_linux-amd64.tar.gz
        cd go-ipfs
        sudo bash install.sh
        ipfs init
        ipfs daemon &
    - run: npm install
    - run: chomp test
